* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #1546e0;
}

/* TOP HEADER */
.signup-header {
  background: #1546e0;          /* FutureMe blue */
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

/* LOGO */
.footer-logo img {
  height: 42px;
}




/* PAGE */
.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* CARD */
.signup-card {
  background: #fff;
  width: 100%;
  max-width: 800px;
  padding: 40px;
}

/* TITLE */
.signup-card h1 {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: normal;
}

/* GOOGLE BUTTON */
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: 100%;
  height: 40px;

  border: 1px solid #ccc;
  background: #fff;
  color: #1a73e8;

  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.google-btn img {
  width: 20px;
}

/* DIVIDER */
.divider {
  text-align: center;
  margin: 30px 0;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 35%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.divider span {
  color: #999;
  font-size: 14px;
}

/* LABELS */
label {
  display: block;
  margin-bottom: 6px;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}

/* INPUT BOX */
.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  height: 38px;
  padding: 0 10px;
}

.input-box .icon {
  margin-right: 8px;
  opacity: 0.6;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

/* HINT */
.hint {
  font-size: 13px;
  color: #666;
  margin-top: 5px;
}

/* CHECKBOX */
.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 25px 0;
  font-size: 14px;
}

/* CREATE BUTTON */
.create-btn {
  width: 240px;
  height: 50px;
  background: #1546e0;
  color: white;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.create-btn:hover {
  background: #0f37b8;
}

/* TERMS */
.terms {
  margin-top: 20px;
  font-size: 14px;
}

.terms a {
  color: #1546e0;
  text-decoration: none;
}

/* SIGN IN */
.signin {
  margin-top: 25px;
  font-size: 16px;
}

.signin a {
  color: #1546e0;
  font-weight: bold;
  text-decoration: none;
}

.message {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
}

.message.error {
  color: red;
}

.message.success {
  color: green;
}
@media (max-width: 768px) {

    .signup-card {
        padding: 20px;
    }

    .create-btn {
        width: 100%;
    }

    .google-btn {
        font-size: 14px;
    }
}


